*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    
    background-color: #ffff7f;
}
.rbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}
.nbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
}
.msg{
    color: #ffff7f;
    font-size: 5vmin;
}
.msgc{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-direction: column;
}
.hide{
    display: none;
}
.green{
    color: green;
}
.blue{
    color: blue;
}